.oragnizing_section .organizer_title{
    text-align: center;
}
.filters{
    padding:30px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.filters div >button ,
.filtered_button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 400;
    padding: 5px 20px;
    font-size: 17px;
    border:none;
    text-transform: capitalize;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.filters button i {
    padding-right: 10px;
    display: inline-block;
}
.dropdown-toggle::after{
    display: none;

}




.filters span {
    color:var(--main-color);
    text-transform: capitalize;
    font-size: 25px;
}
.filters >ul {
    padding-top: 20px;
}

.ads_section .search_ads img {
    width: 100%;
}
.search_ads ul {
    list-style: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}
.search_ads ul li button {
    color: transparent;
    border-radius: 50%;
    background-color: #A3EFE3;
    border: none;
    line-height:0;
    padding: 7px 3px;
    margin-right: 5px;
}
.slick-active button {
    background-color:var(--main-color) !important;
    border-radius: 50%;
    line-height:0;
    padding: 6px 3px;
}


/*  dilter button */
.accordion-button:not(.collapsed){
    box-shadow:none;
}
.selections {
    padding:0px;
    padding-bottom: 10px;
}
.selections label {
    margin-left: 5px;
    font-size: 16px;
    text-transform: capitalize;
    color:#0E1C3F;

}
.selections input {
     border-radius:5px;
     border-color: #0E1C3F;
     border: 0.5px solid #0E1C3F;
     -webkit-border-radius:5px;
     -moz-border-radius:5px;
     -ms-border-radius:5px;
     -o-border-radius:5px;
}
/* .selections input:active + label {
    color:#0583D8;
} */
.selections input[type=checkbox]:checked+label,
.selections input[type=radio]:checked+label  {
    color: #0583d8 !important;;
}
input[type=date]{
    padding: 4px 10px;
    width: 100%;
    color:#E4E4E4;
    border-color:#E4E4E4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 
    border-width: 1px;
    box-shadow:none;
}
input[type=date]::placeholder{
    color:#E4E4E4;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.date_main{
    width: 100%;
}
.date_body{
    padding: 5px !important;
    width: 100%;
    padding-bottom: 10px !important;
    padding-left: 0px !important;
}
.filtered_heading button{
    font-size: 19px !important;
    font-weight: 400 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
.filtered_heading button i{
    font-size: 12px;
}
/* .filtered_heading button:focus i {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
} */
.filtered_heading button:hover ,
.custom_heading:hover,
.filtered_heading button:focus ,
.custom_heading:focus{
background-color: white !important;
color: #0E1C3F !important;
box-shadow: none !important;
}
.custom_heading {
    padding: 0px !important;
    display: block !important;

}
.custom_heading label {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100 !important;
}
.custom_prices{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.custom_prices input {
    margin-bottom: 10px;
    width: 48%;
    padding: 5px;
    border-color:#E4E4E4;
}
.custom_prices input::placeholder{
    color:#E4E4E4;
}
.custom_prices input:focus-visible{
    color:#E4E4E4;
    border-color:#E4E4E4 ;
    box-shadow:none;
}
.filtered_menu {
    width: 284px;
    padding: 10px 30px;
    border-radius:25px;
    box-shadow: 0px 3px 17px #00000029;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    display: none;
    position: absolute;
    top: 100px;
    left: 21px;
    z-index: 3333;

}
.accordion-button::after{
    font-family: "Font Awesome 5 Free";
    display: block;
    /* transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    -moz-transform: rotate(360deg) !important;
    -ms-transform: rotate(360deg) !important;
    -o-transform: rotate(360deg) !important; */
    font-weight: 800;
    content: "\f105";
    background-image: none;
}
.accordion-button:not(.collapsed)::after{
    transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    background-image:none;
}

.show{
    display: inline-block;
    background-color:white;
}
.background {
    background-color: #0583D8 !important;
}
.rotating {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.custom_field::after{
    display: none !important;
}
.common_cards .medical_card{
    margin: 0px;
    margin-bottom: 30px;
}

.common_cards>* {
    padding: 0px;
}

@media (min-width: 768px) and (max-width: 878px)   {
    .filtered_menu {
        top: 88px;
        left: 10px;
        width: 220px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 440px) and (max-width: 580px)   {
    .filtered_menu {
        width: 65%;
        top: 76px;
        left: 64px;
       
    }
}
@media (min-width: 371px) and (max-width: 439px)   {
    .filtered_menu {
        width: 95%;
        top: 80px;
        left: 5px;
       
    }
    .filters{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width: 320px) and (max-width: 370px)   {
    .filtered_menu {
        width: 95%;
        top: 80px;
        left: 5px;
       
    }
    .filters{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (min-width: 320px) and (max-width: 767px)  {
    
    .filters{
        padding-bottom: 5px;
    }
    .filters span {
    font-size: 20px;
    }
    .nav-pills li button{
        font-size: 19px;
    }
    .filters >ul{
        justify-content: center;
    }
    .reverse_filtered{
        flex-direction: column-reverse;
    }
}
@media (min-width: 944px) and (max-width: 1000px) {
    .filtered_menu {
        width: 242px;
        left: 3px;
    }
}
