.main-wrapper ul li button{
    background-color:#0583D8;
}
.accordion-flush .accordion-item .accordion-button:hover a {
    color:white;
}
.browsing{
    padding: 55px 70px;
    background-color: #EBF7F6;
}
.browsing .title{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 60px;

}
.browsing .title h4 {
    font-size: 38px;
    text-transform: capitalize;
}
.browsing .title p{
    color:#9F9F9F;
}
.browsing .title a {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: underline;
    color: #0583D8;
    text-align-last: end;
    text-align: right;
    width: 100%;
    display: block;

}
.browsing .title .browsing_title{
    align-items:center;
    justify-content: space-between;
}
.browsing .country a {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    color: black;
}
.browsing .country span {
    margin-top: 10px;
    font-size: 21px;
    text-transform: capitalize;
    color: black;

}
.live_trianing .backgroud{
    overflow: hidden;
}
.live_trianing .title .info h4,
.live_trianing .title p{
    color:white;
}
.events_carsoul_section {
    background-color: #EBF7F6;
}
.common_cards .medical_card .medical_card_info .header_info{

    display: flex;
    justify-content: space-between;
    align-items:center;
}

.specail_card {
    background-image:url("./../images/cardImages/news-18@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 328px;
    border-radius: 25px;
    box-shadow: 0px 1px 3px #00000029;
    cursor: pointer;
}.specail_card .icons {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 21px;
    padding-right: 21px;
}
.specail_card .icons i{
    display: block;
    font-size: 19px;
    margin-bottom: 10px;
    color: #03AEB2;
    background-color: white;
    border-color: #03AEB2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px;
}
.specail_card .icons i:nth-of-type(1):hover, 
.specail_card .icons  i:nth-of-type(2):hover {
    background: #0583D8;
    color: white;
}

.specail_body{
    background-color:#0d1b3ead;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.specail_body .header_info{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 7px;
    color: white;
}
.specail_body .header_info h5 {
    padding: 0px;
    font-size: 19px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}
.specail_body .header_info span {
    text-transform: capitalize;
}
.specail_body .booking {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specail_body .booking span {
    font-size: 19px;
    color: white;
    font-weight: 600;
}
.specail_body .booking button {
    border: 1px solid var(--book-button-color);
    border-radius: 50px;
    padding: 6px 17px 4px;
    background-color:white;
}
.specail_body .booking button a {
    color: var(--book-button-color);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
}
.specail_body .booking button:hover {
    background-color: #02CB9B;
}
.specail_body  .booking button:hover a {
    color: white;
}


/* background of sections */
.live_trianing {
    position: relative;
    background-color:white;
}
.live_trianing .backgroud {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 297px;
    width: 100%;
    background-color:#0D1B3E;
}
.live_trianing img:first-of-type {
    position: absolute;
    bottom: 0px;
    left:-10%;

}
.live_trianing img:last-of-type {
    position: absolute;
    bottom: 0px;
    right:-10%;
}

.second_browsing {
    background-color:white;
}

.recorder_trainig_section .background {
   top: 31%;
}
.events_carsoul_section .title .info{
    display: block;
}
.events_carsoul_section .title .info div{
    display: block;
    max-width: 100%;
}

.filtered .title .info .headings {
    display: flex;
    width: 60%;
    align-items:center;
    justify-content: space-between;

}
.filtered .title .info .headings h4 {
    display: inline-block;
    margin-right: 70px;
    font-size: 38px;
    color:var(--basic-color);
}
.filtered .title .info .headings p {
    width: 70%;
    display: inline-block;
    font-weight: 600;
    font-size: 19px;
    color:var(--light-color);
}


.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    background-color:none;
}
.ui-widget-header{
    border:none !important;
    background: none !important;
    color:none;
   
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    color:#6A6A6A;
    font-size: 24px;
    text-transform: capitalize;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border:none !important;
    background: none !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
    color:#6A6A6A;
    font-size: 24px;
    text-transform: capitalize;

}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #0583D8 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: none !important;;
    background:none !important;
}   
/* .ui-state-active a::after, .ui-state-active a:link::after, .ui-state-active a::after{
    color: #0583D8 !important;
    content:"";
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: 5px;
    right: 10px;
} */
.ui-widget.ui-widget-content{
    border: none !important;
}
.ui-tabs .ui-tabs-nav{
    position: absolute;
    top: -17%;
    right: 0%;
}
.ui-widget-content {
    background-color:transparent;
    border:none;
}
@media (max-width: 1200px) and (min-width: 998px){
    .filtered .title .info .headings {
        display: flex;
        width: 100%;
        margin-bottom: 37px;
    }
    .ui-tabs .ui-tabs-nav {
    top: -6%;
    }
    }
@media (max-width: 997px) and (min-width: 768px){
.filtered .title .info .headings {
    display: flex;
    width: 100%;
    margin-bottom: 37px;
}
.ui-tabs .ui-tabs-nav {
top: -6%;
}
}
@media (max-width: 767px) and (min-width: 320px){
    .filtered .title .info .headings{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 90px !important;
    }
    .ui-tabs .ui-tabs-nav {
        top: -8% !important;
        }
    .live_trianing .title{
        padding: 0px;
    }
    .ui-tabs .ui-tabs-panel{
        padding: 0px;
    }
}
