.main_header .header_details{
    justify-content: end;
}
.main_header .header_details .left_side_header a{
    margin-left: 10px;
    padding-right: 0px;
}
.assistant span {
    display: inline-block;
    margin-bottom: 2px;
}
.main-wrapper ul li:hover button{
    font-weight: 400;
}
.navbar-nav > li > a {
padding-left: 25px;

}
.padding_links{
    padding-right: 34px !important;
}
.drop-icon:nth-of-type(1) {
right: 13px;
}
.main-wrapper ul li {
    position: relative;
    z-index: 4;
}
.men_menu{
    width: 100%;
    top: 41px;
    left: 0px;
    z-index: 999;
}
.organizer_menu {
    right: 24%;
}

.navbar-nav > li > a{
    font-size:22px;
    text-transform:uppercase;
    color:#515151;
    font-weight: 400;
}
.main-wrapper ul li button {
    padding: 15px 21px;
    background-color: var(--main-color);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50px;
    border:none;

}
.main-wrapper ul li button a {
    font-size: 18px;
    color:white;
    text-transform: uppercase;
    margin: 0px;
}
.common_cards .medical_card .medical_card_info .header_info{
    display: block;
    margin-bottom: 5px;
}

.common_cards .medical_card .medical_card_info .header_info h5{
    padding: 0px;
    font-size: 17px;
    color:#000000;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;

}
.common_cards .medical_card .medical_card_info .category{
    margin-bottom: 5px;
}
.common_cards .medical_card .medical_card_info .category span {
    font-size: 16px;
    color:#03AEB2;
    text-transform: capitalize;
}
.common_cards .medical_card .medical_card_info .category > span{
    font-size: 12px;
}
.common_cards .medical_card .medical_card_info .list .list_info{
    justify-content: space-between;
}
.common_cards .medical_card .medical_card_info .list .list_info span {
    color:#AEAEAE;
    font-size: 11px;
}
.common_cards .medical_card .medical_card_info .list .list_info >* {
    margin-right: 0px;
    margin-bottom: 15px;
}
.common_cards .medical_card .medical_card_info {
padding: 8px 10px 9px;
}
.common_cards .medical_card .image{
    height: 183px;
}
.common_cards .medical_card:hover .image::after
{
    display: none;
}
.common_cards .medical_card .image i{
    display: block;
    font-size: 19px;
    margin-bottom: 10px;
    color:#03AEB2;
    background-color:white;
    border-color: #03AEB2;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    padding: 10px;
}
.common_cards .medical_card .image i:nth-of-type(1):hover,
.common_cards .medical_card .image i:nth-of-type(2):hover{
    background: #0583D8;
    color:white;
}
.common_cards .medical_card .image{
    background-image: url(./../images/news-18-1@2x.png);
}
.common_cards .medical_card .image{
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 21px;
    padding-right: 21px;

}
.common_cards .medical_card .medical_card_info .booking button:hover {
    background-color:#02CB9B;
    
}
.common_cards .medical_card .medical_card_info .booking button:hover a{
    color:white;
}
.card_image_1 {
    background-image:url(./../images/cardImages/Scroll\ Group\ 7@2x.png) !important;
}
.card_image_2{
    background-image:url(./../images/cardImages/Scroll\ Group\ 8@2x.png) !important;
}
.common_cards .medical_card{
    height: 331px;
}
.live_trianing .title{
    text-align: center;
}
.recorder_trianing{
    justify-content: center;
    align-items:center;
}
.recorder_trainig_section{
    background-color:var(--main-color);
}
.recorder_trainig_section .background img{
    left: 0px;
    right: 0px;
    bottom:0px
}
.recorder_trainig_section .slick-slider .slick-prev{
    right: 131%;
    top: 80%;
   border-color:white;
}
.recorder_trainig_section .slick-slider .slick-next{
    right: 125%;
    top: 80%;
   border-color:white;
}
.recorder_trainig_section .slick-slider .slick-prev::before,
.recorder_trainig_section .slick-slider .slick-next::after{
    color:white;
}
.slider_section .slider_details .choices{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.featured_events .background{
    overflow: visible;
}
.navbar-collapse{
    overflow: visible !important;
}
.featured_events {
    position: relative;
    overflow: hidden;
}
.featured_events img {
    position: absolute;
    right: -6%;
    bottom: -18%;
}

/* evets section */
.events_carsoul_section .title .info{
    display: block;
}
.events_carsoul_section .title .info div{
    display: block;
    max-width: 100%;
}

.filtered .title .info .headings {
    display: flex;
    width: 60%;
    align-items:center;
    justify-content: space-between;

}
.filtered .title .info .headings h4 {
    display: inline-block;
    margin-right: 70px;
    font-size: 38px;
    color:var(--basic-color);
}
.filtered .title .info .headings p {
    width: 70%;
    display: inline-block;
    font-weight: 600;
    font-size: 19px;
    color:var(--light-color);
}


.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    background-color:none;
}
.ui-widget-header{
    border:none;
    background: none;
    color:none;
   
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    color:#6A6A6A;
    font-size: 24px;
    text-transform: capitalize;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border:none;
    background:none
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
    color:#6A6A6A;
    font-size: 24px;
    text-transform: capitalize;

}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #0583D8 !important;
}
.ui-state-active a::after, .ui-state-active a:link::after, .ui-state-active a::after{
    color: #0583D8 !important;
    content:"";
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.ui-widget.ui-widget-content{
    border: none !important;
}
.ui-tabs .ui-tabs-nav{
    position: absolute;
    top: -17%;
    right: 0%;
}
.ui-widget-content {
    background-color:transparent;
    border:none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    position: relative;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer !important;
}

#tabs ul li a hr {
    display: none ;
    height: 2px;
    color: #0583D8;
    opacity: 1;
    margin: 0px;
    width: 38px;
    text-align: center;
    margin: auto;
    margin-top: 2px ;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor hr {
    display: block !important;
}
@media (max-width: 1200px) and (min-width: 320px){
    .recorder_trainig_section .slick-slider .slick-prev{
        right: 20%;
        top: -15%;
    }
    .recorder_trainig_section .slick-slider .slick-next{
        right: 10%;
        top: -15%;
    }
}
@media (max-width: 1200px) and (min-width: 998px){
    .filtered .title .info .headings {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 37px;
    }
    .ui-tabs .ui-tabs-nav {
    top: -6%;
    }
    }
@media (max-width: 997px) and (min-width: 768px){
.filtered .title .info .headings {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 37px;
}
.ui-tabs .ui-tabs-nav {
top: -6%;
}
}
@media (max-width: 767px) and (min-width: 320px){
    .filtered .title .info .headings{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 90px !important;
    }
    .ui-tabs .ui-tabs-nav {
    top: -8% !important;
    }
    .live_trianing .title{
        padding: 0px;
    }
    .ui-tabs .ui-tabs-panel{
        padding: 0px;
    }
}